RewriteEngine on
RewriteRule ^(blog|catalogue|contact|connect|disconnect|register|admin|membre)$ app.php?module=$1
RewriteRule ^blog/[0-9a-z-]+-([0-9]+)$ app.php?module=blog&action=detail&id=$1
RewriteRule ^catalogue/categorie-([0-9]+)$ app.php?module=catalogue&action=category&cat=$1
RewriteRule ^catalogue/([a-z-]+)$ app.php?module=catalogue&action=$1
RewriteRule ^catalogue/product-([0-9]+)$ app.php?module=catalogue&action=detail&id=$1
RewriteRule ^catalogue/tag-([0-9]+)$ app.php?module=catalogue&action=&action=list-tag&tag=$1